.App {
  text-align: center;
}

.articleContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2rem;
}

.article {
  border: 1px purple solid;
  padding: 1rem;
  /* cursor: pointer; */
}
